.stream-container {
    position: relative;
    height: 100vh;
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.webcam video {
  transform: scaleX(-1);
}
.webcam {
  transform: scaleX(-1);
}
.likes {
    position:absolute;
    width: 100%;
    height: 100%;
    display: block; 
    top:-10%;
    z-index: 2;
    pointer-events: none;
}
.webcam{
    position: absolute;
    width:100%;
    height:100%;
    display:block;
    z-index:1;
    object-fit: cover;
}
.end-live{
    z-index: 3;
    position: absolute;
    top:80%;
    background-color: #996bff;
    font-size: 20px;
    text-align: top;
    text-wrap: nowrap;
    width: 200px;
    height:40px;
    border-radius:10px;
    color:white;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight:600;

}