
.location-page {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}
.leaflet-routing-container {
  color: black !important;
}

.leaflet-routing-container h2,
.leaflet-routing-container h3,
.leaflet-routing-container span,
.leaflet-routing-container div {
  color: black !important;
}

.leaflet-routing-container {
  background: white !important;
}