.profilePic{
    position: relative;
    display: inline-block;
    top: 3%;
    left: 80%;
    height:50px;
    width:50px;
    border-radius: 50%;
    background: linear-gradient(45deg, #6a02f2, #FFFFFF);
    border:none;
}
.options{
    position:relative;
    background-color: #000000;
    left: 50%;
    top: 0%;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight:600;
    color: white;
    height:15%;
    
}
.op{
    position: relative;
    background-color: black;
    color: white;
    width:30px;
    height: 10px;
}
.activity{
    position: relative;
    background-color: black;
    color: white;
    width:70px;
    height: 10px;
}
.accinfo{
    position: relative;
    background-color: black;
    color: white;
    width:70px;
    height: 10px;
}