.scrollbar-container{
    width:99%;
    height: 80px;
    overflow: hidden;
    padding: 10px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight:600;
}
.scrollbar{
    height: 120px;
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-direction: row;
    overflow-x: auto;
}
.components{
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 10px;
    background-color: #996bff;
    flex-shrink: 0;
    text-align: center;
}
.shortcuts{
    position:relative;
    top:5%;
    margin-bottom:0px;
    left:5%;
    font-size: 20px;
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight:600;
}
.components:hover{
    background-color: #d98cff;
}
.greeting{
    position:absolute;
    top:4%;
    left:5%;
    font-size: 20px;
    color: #ff61b7;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight:600;
}